.banner-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-text .banner-subtitle {
  font-family: "Fira Code", monospace;
  font-size: clamp(14px, 5vw, 16px);
  font-weight: 400;
}

.banner-text .banner-heading {
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
  margin: 0;
}

.banner-text p {
  margin: 20px 0px 0px;
  max-width: auto;
}

.banner-text a {
  margin-top: 20px;
}

.greenBtn {
  display: left;
  margin: 10px auto;
  text-align: left;
}

.social-media {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.banner-heading slate span:hover .banner-heading slate span:focus {
  animation: vibrate 0.9s linear infinite;
}
@keyframes vibrate {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
