.social-media-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-media-icon {
  font-size: 2rem;
  margin: 0 1rem;
}

.linkedin {
  color: #0e76a8;
}

.github {
  color: #333;
}

.whatsapp {
  color: #25d366;
}

.facebook {
  color: #1877f2;
}

.instagram {
  color: #c13584;
}
